.search_button {
    border: none;
    float: right;
    padding: 5px;
    margin: 0px;
    width: 120px;
    height: 50px;
    background-color: var(--main-site-color);
    background-image: url('../img/icons/search2_icon.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Teko;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#submit_contact,
#submit_event {
    border: solid 1px var(--site-subcolor-third);
    padding: 8px;
    margin: 0px;
    width: 150px;
    background: var(--main-site-color);
    font-family: Teko;
    font-size: 20px;
    color: white;
    cursor: pointer;
}


/* visited link */

#submit:hover {
    box-shadow: 0px 0px 1px 1px rgba(255, 165, 0, .9);
}


/* mouse pressed */

#submit:active {
    background-color: white;
    color: black;
}


/* selected link */

button:visited {
    color: whitesmoke;
}


/* visited link */

button:active {
    color: black;
}


/* pressed link */

.search_button:hover {
    box-shadow: 0px 0px 1px 1px black;
    border-color: black;
}

.search_button:active {
    box-shadow: 0px 0px 1px 1px green;
    border-color: black;
}


/*  */

.nostyle {
    color: black;
    text-decoration: none;
}

.nostyle:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}