/* Site properties */

.sp {
    /* Site colors */
    --main-site-color: #445463;
    --site-subcolor-first: #4D4D4D;
    --site-subcolor-second: #333;
    --site-subcolor-third: goldenrod;
    --site-bg-color: white;
    /* Map colors */
    --map-border-color: gold;
    /* Text properties */
    --site-font: Teko;
    --main-text-color: whitesmoke;
    --button-text-color: white;
    --textcontainer-bg-color: rgba(211, 211, 211, .8);
    --pagename-text-size: 34px;
    /* Common containers */
    --container-bg-color: transparent;
    --eventrow-bg-color: #d7e7f7;
    /* Common element sizes */
    --navbar-height: 90px;
    /* Margins and paddings */
    --global-padding: 20px;
    --global-margin: 40px;
}