/* IMAGE styles */

img {
    border: none;
}

.gallery {
    height: 600px;
}

.gallery:hover {
    cursor: pointer;
}

#lion_coat {
    animation-name: opacity;
    animation-duration: 2s;
    max-height: 80px;
    width: auto;
}

#jamasoft {
    animation-name: opacity;
    animation-duration: 2s;
    height: 80px;
    width: auto;
}

#urfu {
    height: 60px;
    justify-self: center;
}

.page_logo {
    animation-name: opacity;
    animation-duration: 1.5s;
    height: 80px;
    margin: 20px;
}

#heartbeat {
    height: 70%;
    transform: scaleX(-1);
    margin-right: 40px;
}


/* PAST EVENT PAGE */

.upcom_eventbox_infobackg {
    /* border: solid black; */
    color: var(--main-text-color);
    height: 100%;
    margin: 0px;
    width: 70%;
    overflow: hidden;
    padding: 10px;
    background: linear-gradient(to right, var(--site-subcolor-first) 50%, transparent 100%);
    background-repeat: no-repeat;
}

.arrow_show {
    display: block;
}

.arrow_hide {
    display: none;
}

.arrow_container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-right: 30px;
    margin-left: 10px;
    height: 100%;
    width: 50%;
}

.country {
    margin-right: 10px;
}

#menu_icon {
    border: solid black 1px;
}

.micon {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}


/* CONTACT PAGE */

.contact_details img {
    width: 150px;
}

#aboutgirl {
    width: 40%;
}

#aboutgirl2 {
    width: 40%;
}

#aboutgirl2_mobile {
    display: none;
}

#page_img {
    width: 400px;
    height: 100%;
    background-image: url('../img/flags/flag_fin_vino_linearopacity3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

.opacity_filter {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--site-subcolor-first) 30%, transparent 100%);
}

.opacity_filter2 {
    background-color: rgba(100, 100, 100, 0.8);
}