// YOU CAN CHANGE THE COLOR OF LOGO HERE.

$color-logo: #fff;

// MIXIN

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// LOGO STYLES

.logo-wrapper {
  @include center();
  
  //Logo responsive, just change the value of "max-width" for another size.
  
  width: 100%;
  max-width: 380px;
  height: auto;
  
  #logo-webbab {
    overflow: visible;
    .word {
      fill: $color-logo;
      opacity: 0;
    }
    #mask {
      #alpha {
        fill: #fff;
      }
    }
  }
  #iso {
    fill: $color-logo;
    opacity: 0;
    mask: url(#mask);
  }
}
